.header-root {
  display: flex;
  flex-direction: row;
  padding: 8px 16px 0 8px;
  position: sticky;
  top: 0;
  background-color: white;
}
.right-actions {
  display: flex;
  flex-direction: row;
}

.search-area {
  flex-grow: 1;
  margin: 0 auto;
}

.search {
  padding: 2px;
  border: 1px solid gray;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  width: 50%;
}

.search-text-field {
  font-size: 14px;
  border: none;
  width: inherit;
  margin-left: 12px;
  flex-grow: 1;
}

.search-text-field:focus {
  outline: none;
}

.search-button {
  background-color: #ffa500;
  padding: 8px;
  border-radius: 24px;
  width: 18px;
  height: 18px;
}

.search-icon {
  width: 16px;
  height: 16px;
  display: block;
  margin: auto;
}
